
body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #000000;
    text-align: center;
  }
  
  h1 {
    color: #ffffff;
    text-align: center;
  }
  
  p {
    color: #4caf50;
    line-height: 1.5;
  }
  
  button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    cursor: pointer;
    display: block;
    margin: 20px auto;
  }
  
  button:hover {
    background-color: #00ff0d;
    size: 20px;
  }
  
  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  

  